#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

`Database`:
A databse is collection of data that is stored and manged on computer system. It is system for organizing,storing and retrieving data in an efficient and secure manner.

`SQL`:
Structured query language (SQL) is database based on relational model , orgainizes data into tables with predefined relationship between them.

SQL databse display data in form of tables so it is known as table based database.

SQL database are vertically scalable

`NoSQL`:

NoSQL database are categorized as non - relational databse model , they are based pn various data model.

NoSQL database dispaly data as collection of key - value pair, documents, graph database or wide column stories.

NoSQL database are horizontally scalable

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

`DDL`: It stands for Data Defination Language , it is set of SQL commands used to create, modify, an delete database objects such as tables, indexes, views, and procedures.

`CREATE`: This command is used for creating a new database or table:

EXAMPLE:
CREATE TABEL teste(VARCHAR(100),surname VARCHAR(100),id INT  ,batch VARHCR(100));

`DROP`: This command is used to delete an exixting databse or tabel.

EXAMPLE:
DROP TABLE test:

`ALTER`: This command is used to modify an existing database or table, like to insert new column into the test tabel.

EXAMPLE:
ALTER TABLE test
ADD COLUMN  phone VARCHAR(20);

`TRUNCATE`: This command is used to delete all data from existing table ,but the table structure remains intact.

EXAMPLE:
TRUNCATE TABLE test;

 #### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

`DML`: DML stand for data manipulation language, it is set of SQL commands used to manipulate data stored in a database.

`INSERT`: This command is used to add new data to a table.

EXAMPLE:
     INSERT INTO test(id,name,email)
     VALUES(1,'sonu',sonu@gmail.com');

`UPDATE`: This command is used to modify existing data in a table.

EXAMPLE:
    UPDATE test
    SET email = 'sonu@gmail.com'
    WHERE id = 1;

`DELETE`: This command is used to remove data from a table.

EXAMPLE:
    DELETE FROM test
    WHERE id = 1

#### Q4. What is DQL? Explain SELECT with an example.

`DQL`: DQL stands for DATA QUERY LANGUAGE , it is set of commands used to retrieve data from database.,it is used to query data from table and perform data analysis.

`SELECT`:This command is the most commonly used DQL command , and it is used to retirive data form one or more table . 

EXAMPLE :
SELECT * FROM test

#### Q5. Explain Primary Key and Foreign Key.

`Primary key`:A primary key is  unique identifier for a record in a table. A primary key is used to ensure that each record in a table is uniquely identified and to enforce data integrity. A primary key can be a single column or a combination of columns that together uniquely identify each record in a table

`Foreign key`:A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect( host = "localhost",
                                user = "sonu",
                                password = "password",
                              )
mycursor = mydb.cursor()

mycursor.execute("CRETE DATABSE test")
for i in mycursor:
        print("rows:",i)

`cursor()`: This method creates object that allows us to execute SQL queries and fetch the results.

`execute()`: This method is used to create a cursor object , which is then used to excute a SQL query to select all rows from table in the MySQL database.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. `FROM/JOIN`: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. `WHERE`: The WHERE clause is executed to filter out records that do not meet the constraints.

3. `GROUP BY`: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. `HAVING`: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. `SELECT`: The SELECT clause is executed to derive all desired columns and expressions.

6. `ORDER BY`: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. `LIMIT/OFFSET`: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.