#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

`MongoDB`:MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

`Non-Relational Dtabase`: A non reational database is type of database management system that does'nt use traditional tabular realtions of rows and columns, unlike relational databses. Instead it uses a variety od data models to store and manage such as key valye pair,documents and graph.

`preferrence`:MongoDB is often preferred over SQL databases in scenarios where:
1) Large amounts of unstructured or semi-structured data needs to be stored and processed.
2) High availability and scalability is required. MongoDB's architecture is designed for     horizontal scaling and can handle large amounts of data and traffic.
3) Rapid prototyping and development is needed. MongoDB's schema-less data model allows for faster development and iteration cycles without the need for defining a fixed schema beforehand.
4) The application needs to be deployed in a cloud environment. MongoDB offers native integration with many cloud platforms, making it easier to deploy and manage in a cloud environment.

#### Q2. State and Explain the features of MongoDB.

`Features of MongoDB`:
1) Schema-less Database:  A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases.

2) Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3) Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4) Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

5) Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6) Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

#### 3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [28]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#connecting with mongo db
import pymongo

client = pymongo.MongoClient("mongodb+srv://sonusaroj:MymongoDb@cluster0.4f7afcd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
# Creating a mongoDb Database

db=client['new_database']

data = {"name": "sonu",
        "course":"data science masters",
        "mobile_num": 3432423,
        "mail": "sonusaroj@gmail.com"
        }
col_db = db["my_record"]
col_db.insert_one(data)

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
#inserting many record 
data1 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
col_db.insert_many(data1)

In [9]:
#Using find() 

for i in col_db.find():
    print(i)

{'_id': ObjectId('63fcb25290b6311e1ab6c526'), 'name': 'sonu', 'course': 'data science masters', 'mobile_num': 3432423, 'mail': 'sonusaroj@gmail.com'}
{'_id': ObjectId('63fcb60690b6311e1ab6c527'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcb60690b6311e1ab6c528'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcb60690b6311e1ab6c529'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcb60690b6311e1ab6c52f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcb60690b6311e1ab6c530'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcb60690b6311e1ab6c531'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcb60690b6311e1ab6c532'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcbfa390b6311e1ab6c534'), 'name': 'sonu', 'course': 'data science masters', 'mobile_num': 3432423, 'mail': 'sonusaroj@gmail.com'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c535'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c536'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c537'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c538'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c539'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c53f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcbfb290b6311e1ab6c540'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c541'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c542'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c543'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c544'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c545'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c546'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c547'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c548'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c549'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c54a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c54b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcbfb490b6311e1ab6c54c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c54d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c54e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c54f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c550'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c551'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c552'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c553'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c554'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c555'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c556'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c557'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcbfe390b6311e1ab6c558'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcc03590b6311e1ab6c559'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcc03590b6311e1ab6c55f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcc03590b6311e1ab6c560'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcc03590b6311e1ab6c561'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcc03590b6311e1ab6c562'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcc03590b6311e1ab6c563'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcc03590b6311e1ab6c564'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcc06790b6311e1ab6c566'), 'name': 'sonu', 'course': 'data science masters', 'mobile_num': 3432423, 'mail': 'sonusaroj@gmail.com'}
{'_id': ObjectId('63fcc06990b6311e1ab6c567'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcc06990b6311e1ab6c568'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcc06990b6311e1ab6c569'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcc06990b6311e1ab6c56f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcc06990b6311e1ab6c570'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcc06990b6311e1ab6c571'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcc06990b6311e1ab6c572'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcc0d82681cce777d51132'), 'name': 'sonu', 'course': 'data science masters', 'mobile_num': 3432423, 'mail': 'sonusaroj@gmail.com'}
{'_id': ObjectId('63fcc0dd2681cce777d51133'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcc0dd2681cce777d51134'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcc0dd2681cce777d51135'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcc0dd2681cce777d51136'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcc0dd2681cce777d51137'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcc0dd2681cce777d51138'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcc0dd2681cce777d51139'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcc0dd2681cce777d5113a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcc0dd2681cce777d5113b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcc0dd2681cce777d5113c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcc0dd2681cce777d5113d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcc0dd2681cce777d5113e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fcc1552681cce777d5113f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fcc1552681cce777d51140'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fcc1552681cce777d51141'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fcc1552681cce777d51142'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fcc1552681cce777d51143'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fcc1552681cce777d51144'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fcc1552681cce777d51145'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fcc1552681cce777d51146'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fcc1552681cce777d51147'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fcc1552681cce777d51148'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fcc1552681cce777d51149'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fcc1552681cce777d5114a'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [6]:
#using find_one()

col_db.find_one()

{'_id': ObjectId('63fcb25290b6311e1ab6c526'),
 'name': 'sonu',
 'course': 'data science masters',
 'mobile_num': 3432423,
 'mail': 'sonusaroj@gmail.com'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

"To use find() and find_one() we can use 'for'  statement to itrate into the databse and return the the given parameter. It return the cursor object."
# for example if we want to find the record of Vicky we can pass it in find().
for i in col_db.find({"name":"Vicky"}):
    print(i)

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the results of a query in either ascending or descending order based on one or more fields in a document.
The sort() method can be used with the find() method to sort the documents returned by the query.

#### Q7. Explain why delete_one(), delete_many(), and drop() is used

`deleting_one():`In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

`delete_many():`Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

Syntax:

collection.delete_many(filter, collation=None, hint=None, session=None)

`drop():`Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection. The method provides a wrapper around the drop command.

db.collection.drop()